<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="main_chat">
  <div class="title-bar">
    <div class="title-left">
      <div th:text="${room.name}" class="title">チャットルーム名</div>
    </div>
    <div class="title-right">
      <div class="close-chat">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
  </div>
  <div class="display-screen">
    <div th:each="message: ${message}" class="post-box">
      <div class="user-info">
        <div th:text="${message.user.nickname}" class="name">ユーザー名</div>
        <div th:text="${message.createdAt}" class="date">日付</div>
      </div>
      <div th:text="${message.content}" class="post-contents">メッセージ内容</div>
    </div>
  </div>  
  <form th:action="@{/rooms/{roomId}/messages(roomId=${room.id})}" method="post" th:object="${messageForm}" class="type-space">
    <div class="type-form">
      <input th:field="*{content}" placeholder="type a message" class="type">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label> 
    </div> 
    <input type="submit" value="送信" class="send">
  </form>
</div>
</html>