<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="side_bar">
  <div class="username-bar">
    <div class="username">
      <a th:href="@{/users/{userId}/edit(userId=${user.id})}" th:text="${user.nickname}">ユーザー名</a>
    </div>
    <div class="create-chat">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="rooms">
    <div class="roomnames">
      <div class="roomname">
        <a href="#">techroom1</a>
      </div>
    </div>
    <div class="roomnames">
      <div class="roomname">
        <a href="#">techroom2</a>
      </div>
    </div>
  </div>
</div>
</html>